name: Web Frontend CI

on:
  push:
    branches: [dev, main]
    paths:
      - "apps/web/**"
  pull_request:
    branches: [dev, main]
    paths:
      - "apps/web/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      IS_CI: "true"
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          bun install
          bun install --cwd apps/web

      - name: Lint
        run: bun run lint:web

      - name: Coverage
        run: bun test --cwd apps/web --coverage

      - name: Build
        run: bun run --cwd apps/web build
